[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Conversion de Fahrenheit en Celsius
Type=Link
URL=https://www.metric-conversions.org/fr/temperature/fahrenheit-en-celsius.htm
Icon=text-html
