[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Degré Fahrenheit — Wikipédia
Type=Link
URL=https://fr.wikipedia.org/wiki/Degr%C3%A9_Fahrenheit
Icon=text-html
